@model BookingAds.Common.Models.Account.ViewChangePassword
@{
    ViewBag.Title = "Đổi Mật Khẩu";
    string failedChangePassword = "Failed Change Password";
}
<style>
    .error-msg {
        color: red;
        font-weight: bold;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        padding: 30px;
        width: 450px;
        border-radius: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    ::placeholder {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .form button {
        align-self: flex-end;
    }

    .flex-column > label {
        color: #151717;
        font-weight: 600;
    }

    .inputForm {
        border: 1.5px solid #ecedec;
        border-radius: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        transition: 0.2s ease-in-out;
    }

    .input {
        margin-left: 10px;
        border-radius: 10px;
        border: none;
        width: 100%;
        height: 100%;
    }

        .input:focus {
            outline: none;
        }

    .inputForm:focus-within {
        border: 1.5px solid #2d79f3;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }

        .flex-row > div > label {
            font-size: 14px;
            color: black;
            font-weight: 400;
        }

    .span {
        font-size: 14px;
        margin-left: 5px;
        color: #2d79f3;
        font-weight: 500;
        cursor: pointer;
    }

    .button-submit {
        margin: 20px 0 10px 0;
        background-color: #151717;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 500;
        border-radius: 10px;
        height: 50px;
        width: 100%;
        cursor: pointer;
    }

    .p {
        text-align: center;
        color: black;
        font-size: 14px;
        margin: 5px 0;
    }

    .btn {
        margin-top: 10px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        gap: 10px;
        border: 1px solid #ededef;
        background-color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

        .btn:hover {
            border: 1px solid #2d79f3;
        }


    .title {
        font-size: 28px;
        color: black;
        font-weight: 600;
        letter-spacing: -1px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 30px;
    }

        .title::before, .title::after {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            border-radius: 50%;
            left: 0px;
            background-color: black;
        }

        .title::before {
            width: 18px;
            height: 18px;
            background-color: black;
        }

        .title::after {
            width: 18px;
            height: 18px;
            animation: pulse 1s linear infinite;
        }

    @@keyframes pulse {
        from {
            transform: scale(0.9);
            opacity: 1;
        }

        to {
            transform: scale(1.8);
            opacity: 0;
        }
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">




            @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { accept_charset = "UTF-8", @class = "form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div>
                    <p class="title">Thay đổi mật khẩu </p>
                </div>
                <div class="flex-column">
                    <label>Mật khẩu cũ </label>
                </div>
                <div class="inputForm">
                    <svg height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>   @*<input placeholder="enter your email" class="input" type="text">*@


                    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "input", placeholder = "Nhập mật khẩu hiện tại...", value = Model == null ? "" : Model.CurrentPassword, type = "password" })


                </div>
                @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "error-msg", @style = "    margin-top: -8px;   margin-bottom: 7px;   margin-left: 42px;", })
                <div class="flex-column">
                    <label>Mật khẩu mới </label>
                </div>
                <div class="inputForm">
                    <svg height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>   @*<input placeholder="enter your email" class="input" type="text">*@


                    @Html.PasswordFor(m => m.NewPassword, new { @class = "input", placeholder = "Nhập mật khẩu hiện tại...", value = Model == null ? "" : Model.NewPassword, type = "password" })


                </div>
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "error-msg", @style = "    margin-top: -8px;   margin-bottom: 7px;   margin-left: 42px;", })

                <div class="flex-column">
                    <label>Nhập lại mật khẩu mới </label>
                </div>
                <div class="inputForm">
                    <svg height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>   @*<input placeholder="enter your email" class="input" type="text">*@


                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input", placeholder = "Xác nhận lại mật khẩu...", value = Model == null ? "" : Model.NewPassword, type = "password" })


                </div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error-msg", @style = "    margin-top: -8px;   margin-bottom: 7px;   margin-left: 42px;", })

        <div class="flex-row">
            @if (ViewData.ModelState.Keys.Contains(failedChangePassword))
            {
                <div id="errorLogin" class="error-msg text-center">
                    @ViewData.ModelState.SingleOrDefault(m => m.Key == failedChangePassword).Value.Errors.SingleOrDefault().ErrorMessage
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(ViewBag.Success))
            {
                <p class="text-success" style="font-weight: bold;">@ViewBag.Success</p>
            }
        </div>
                <input class="button-submit" style="" type="submit" value="Thay đổi mật khẩu">
               




            }









            @*<div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Thay đổi mật khẩu</h3>
                </div>
                <div class="panel-body">
                    @if (ViewData.ModelState.Keys.Contains(failedChangePassword))
                    {
                        <div id="errorLogin" class="error-msg text-center">
                            @ViewData.ModelState.SingleOrDefault(m => m.Key == failedChangePassword).Value.Errors.SingleOrDefault().ErrorMessage
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(ViewBag.Success))
                    {
                        <p class="text-success" style="font-weight: bold;">@ViewBag.Success</p>
                    }

                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { accept_charset = "UTF-8", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <fieldset style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                            <div class="form-group input-group" style="display: flex;justify-content: center;align-items: center;">
                                <span class="input-group-addon" style="height: 34px;width: 34px;">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                @Html.PasswordFor(m => m.CurrentPassword, new
                                {
                                    @class = "form-control",
                                    placeholder = "Nhập mật khẩu hiện tại...",
                                    value = Model == null ? "" : Model.CurrentPassword
                                })
                            </div>
                            @Html.ValidationMessageFor(m => m.CurrentPassword, "", new
                            {
                                @class = "error-msg",
                                @style = "margin-top: -12px; margin-bottom: 10px;",
                            })

                            <div class="form-group input-group" style="display: flex; justify-content: center; align-items: center;">
                                <span class="input-group-addon" style="height: 34px;width: 34px;">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                @Html.PasswordFor(m => m.NewPassword, new
                                {
                                    @class = "form-control",
                                    placeholder = "Nhập mật khẩu mới...",
                                    value = Model == null ? "" : Model.NewPassword
                                })
                            </div>
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new
                            {
                                @class = "error-msg",
                                @style = "margin-top: -12px; margin-bottom: 10px;",
                            })

                            <div class="form-group input-group" style="display: flex; justify-content: center; align-items: center;">
                                <span class="input-group-addon" style="height: 34px;width: 34px;">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                @Html.PasswordFor(m => m.ConfirmPassword, new
                                {
                                    @class = "form-control",
                                    placeholder = "Nhập lại mật khẩu mới...",
                                    value = Model == null ? "" : Model.ConfirmPassword
                                })
                            </div>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new
                            {
                                @class = "error-msg",
                                @style = "margin-top: -12px; margin-bottom: 10px;",
                            })

                            <input class="btn btn-lg btn-success btn-block" style="width: 200px;" type="submit" value="Thay đổi mật khẩu">
                        </fieldset>
                    }
                </div>
            </div>*@
      
        
        </div>
    </div>
</div>


